*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Red Hat Text', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: hsl(234, 17%, 12%);
      
}
h1 {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 50px;
    text-transform:uppercase;
}
h3 {
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    letter-spacing:2px;
    font-size:10px;
    margin-top: 15px;
    
}
.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
.countdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.countdown div {
    margin: 16px;
}
.Day,.Hour,.Minute,.Second {
    padding: 20px;
    font-size: 50px;
    border-radius: 5px;
    background:hsl(236, 21%, 26%) ;
    height: 100%;
    color:  hsl(345, 95%, 68%);
}
.stars {
position: absolute;
}
.hills {
    position: absolute;
    bottom: 0;
}
@media (max-width: 667px)
{
    .coming-soon h1 {
        font-size: 20px;
        letter-spacing: 7px;
        text-align: center;
    }
    .coming-soon{
        justify-content:flex-end;
        padding: 0 20px;
    
    }
    img {
        height:130px;
    }
    .countdown div {
        margin: 8px;
    }
    .Day,.Hour,.Minute,.Second {
        padding: 20px;
        font-size: 20px;
    }
}

 @media (min-width: 1440px) {
    .stars img, 
    .hills img {
      width: 1600px;
    }
}

@media (min-width: 1600px) {
    .stars img, 
    .hills img {
      width: 1920px;
    }
}  
